.logo {
    display:block;
    margin:auto;
    width: 70px;
    height: 70px;
    
}

.container{
    max-width: 955px;
    border:2px solid black;
    margin:auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(167, 101, 101);
    padding: 10px;
    width: 24px;
    margin:17px 12px;
    border:2px solid black;
    border-radius: 10px;

}

.left{
 float: left;
 clear:both;
}
.right{
    float:right;
    clear:both;

}
#send-container {
    display: block;
    margin: auto;
    max-width: 985px;
    text-align: center;
    width: 100%;
}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 28px;
}
.btn{
    cursor:pointer;
    border: 2px solid black;
    border-radius: 6px;
}

body{
    height: 100vh;
    background-image:linear-gradient(rgb(92,100,221),rgb(109,39,239)) ;
}
